
{
# Location of the LOG directory
"LOGDIR":"/home/hydra/LOGS",

# Parameters defining the plate/park geometry
"STOW":214.233,
"PARK":215.750,
"PLATE":190.500,
"PIVOT":273.050,
"PARKINNER":213.983, # STOW-0.25
"PARKOUTER":218.250, # PARK+2.5

# Positional safety parameters
"POSITION_TOLERANCE":0.050,
"SAFEX":233.000,
"SAFEY":-200.000,
"X_MIN":-273.812,
"X_MAX":233.000,
"Y_MIN":-216.313,
"Y_MAX":229.9022,
"PLC_MAX_RADIUS":220.0,
"MAXANGLE":0.064906585, # ~3.72 degrees
"MAXEXTEND":273.925, # PIVOT + 1.75/2 (ie PIVOT+1/4 of a button width)

# Parameters descibing the fibers
"NFIBERS":288,
"FIBERTUBE_HALFDIAMETER":1.200, # Physical size: 1.125
"FIBERBUTTON_RADIUS":1.850, # Physical size: 1.75
"FIBERTUBE_NSEGMENTS":4,
"FIBERTUBE_SEGMENTS":[0.0,0.2868,0.57735,0.78867,1.0],
"FIBERBUTTON_NCIRC":32,

# WIYN parameters
"WIYN":
    {
    "KPNO_LAT":31.9633,
    "KPNO_ALT":2064.0,
    "KPNO_ATM_PRES":795.0,
    "KPNO_HUMIDITY":0.6,
    "LAPSE_RATE":0.0065,
    "REFRACT_PREC":1.0E-10,
    "REFRACT_PTS":10,
    "WIYN_SCALE":9.3840,
    "WIYN_PINCUSHION":77.6,
    "MONTHLY_TEMP":[273.983,273.928,275.15,278.372,282.983,287.206,289.594,288.706,287.094,283.094,278.15,271.094]
    } # This is the magnitude of the pincushion distortion
}


